@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* Estilos para el contenido principal */
ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --background: rgb(158, 0, 0);
}

.cabecera2{
  background-color: rgb(208, 0, 0);
  width: 100%;
  text-align: center;  
  padding-top: 10px;
  padding-bottom: 10px;
  span{
    
    font-size: 20px;
  }
}
ion-header{
  display: flex;
  justify-content: center;
  flex-direction: column;  
  align-items: center;
}

.cabecera{
  display:flex;
  flex-direction: row;
  ion-button{
    align-items: center;
    justify-content: center;    
    font-size: 13px;
    width: 100%;
    ion-icon{
      margin-left: 10px;
    }
  }
}
  /* Estilos para el contenedor que ocupa toda la pantalla */
.full-screen-container {
  display: flex;
  flex-direction: column;    
  align-items: center;
  height: 100%;  
}

ion-button{
  width: 100%; 
  color:floralwhite;
  font-family: 'Archivo Black', sans-serif;
  font-size: 15px; 
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 15px;
  ion-button{
    height: 100%;
    span{
      background-color: black;
      border-radius: 25px;
      font-size: 25px;
      outline: 10px double #000000;
    }
  }
}

.logout{
  --background:black;    
  color:floralwhite;
  width: 100%;
}
*{
  font-family: 'Archivo Black', sans-serif;
}
